/*网页的全局样式 解决兼容问题*/
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;}
body{ font-family:"宋体"; font-size:12px; color:#000000;}
ul,ol,li{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:14px;}
input,select,textarea{ vertical-align:middle;}
img{ border:none; vertical-align:middle;}
a{ text-decoration:none; color:#333333;}
a:hover{ color:#009999;}
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}

.top{height:48px;width:100%;background: #595A55;}
	.list{float:left;padding-left:300px;}
	.list> li{float:left;position:relative;}
	.list> li >a{display:inline-block;color:white;font-size:16px;line-height:48px;padding:0 11px;}
	.list> li >a:hover{background:#FF6634 ;}
	.list> li:first-child{padding:0 15px;}
	.list> li a i{display:inline-block;background-image:url(../images/toolicons.png);height:16px;width:25px;background-position: -205px -213px; }
	.top ol{float:left;padding-left:100px;}
	.top ol li{float:left;padding:0 10px;}
	.top ol li:first-child a{color:#F2A344!important;}
	.top ol a{display:inline-block;color:white;font-size:16px;line-height:45px;}
	.top ol span{display:inline-block;background-image:url(../images/toolicons.png);margin-top:3px;margin:0 5px;}
	.tu1{height:26px;width:30px;background-position: -245px -208px; }
	.tu2{height:30px;width:34px;background-position: -125px -205px; }
	.tu3{height:32px;width:28px;background-position: -165px -205px; }
	.list ul{position:absolute;background:#7E7E7E ;width:100%;display:none;z-index:999;}
	.list ul li{line-height:40px;padding-left:11px;}
	.list ul li a{display:inline-block;color:white;font-size:14px;}
	.list li:hover ul{display:block;}
.pic{height:422px;margin:0;padding:0;position:relative;width:100%;overflow:hidden;}
	.pic ul,.pic ul li,.pic ul li a{position:absolute;height:100%;width:100%;}
	.pic ul li a{width:1920px;left:50%;margin-left:-960px;position:absolute;}
	.pic ul li a img{display:block;height:100%;width:100%;}
.fm{height:318px;width:540px;background:#DCA5A2 ;position:absolute;top:20px;left:1000px;}
.xiao{height:294px;width:523px;background:white;margin-top:10px;margin-left:7px;}
.che{height:44px;}
	.che p{float:left;}
	.che p a{color:#FF6632;font-size:20px;line-height:44px;font-weight:bold;}
	.che ul{float:right;background:url(../images/i1.jpg) no-repeat;margin-left:140px;margin-top:10px;}
.left{float:left;width:280px;height:254px;}
	.right{float:left;}
	#f1{margin-top:10px;margin-left:16px;}
	#f1 option{height:30px;width:160px;}
	#f2{margin-top:10px;margin-left:16px;}
	#f2 input{height:30px;width:175px;}
	#f3{margin-top:5px;margin-left:70px;}
	#f4{margin-top:10px;margin-left:41px;}
	#f4 input{height:30px;width:175px;}
	#f5{margin-top:10px;margin-left:41px;}
	#f5 input{height:30px;width:175px;}
	#f6{margin-top:10px;margin-left:74px;}
	#f6 input{height:43px;width:175px;background: #FF6634;border:none;color:white;/*background:url(../images/img4.jpg) no-repeat right center;*/font-size:22px;}